@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px,auto) ;
}
.head{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #D0D0D0;
}
.image{
    width: 210px;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 131px;
    height: 72px;
}
.uaru{
    width: 46px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    text-align: center;
    padding: 5px;
}
.RU{
    background: #4AD295;
    border-radius: 2px;
    color: #FFFFFF;
    width: 35px;
    height: 20px;
}
.ua{
    width: 35px;
    height: 20px;
}
    /* identical to box height */
h3{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding: 0px 20px;
}
.usd{
    width: 75px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    display: flex;
    align-items: center;
    padding:5px;
}
.head .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    padding:5px;
}
li{
    list-style-type: none;
    font-family: 'Questrial', sans-serif;
}
.number ul li{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}
.number{
    border-left:1px solid #E2E2E2;
    display: flex;
    justify-content: space-between;
    width:150px ;
    height: 40px;
    padding:5px;
}
.phone img{
    width: 39px;
    height: 39px;
}
.Maistra{
    width: 240px;
    height: 40px;
    background: #EFF3F6;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    border-left:1px solid #E2E2E2;    
}
.maistra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Maistra  .icon{
    width: 40px;
    height: 40px;
    background: #DD4053;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ТУРЫ{
    width: 240px;
    height: 40px;
    background: #EFF3F6;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
.туры{
    display: flex;
    justify-content: center;
    align-items: center;
}
.acon{
    width: 40px;
    height: 40px;
    background: #4AD295;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*nav and display*/
.nav{
    padding-top: 25px;
    border-bottom: 1px solid #D0D0D0;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.nav ul li>ul{
    display: none;
}
.nav ul li:hover>ul{
    display: block;
    position: absolute;
}

/*p к классу six*/

/*color for nav*/
.nav .two{
    color: #616161;
}
.nav .three{
    color: #616161;
}
.nav .four a{
    color: #616161;
    text-decoration: none;
}
.nav .five{
    color: #616161;
}
.nav .six{
    color: #616161;
}
.nav .seven a{
    color: #616161;
    text-decoration: none;
}
.nav .eight a{
    color: #616161;
    text-decoration: none;
}
.nav .nine a{
    color: #171717;
    text-decoration: none;
}
.nav .nine .nine{
    padding-bottom: 25px;
    border-bottom: solid #DD4053;
}
/*WAY WAY WAY WAY WAY WAY WAY WAY WAY*/
.way{
    width: 180px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 115px;
}
.way .one{
    text-decoration: none;
    color: #969696;
}
.way .two{
    text-decoration: none;
    color: #171717;
}
.way a{
    font-family: 'Montserrat';
}
/*DATA DATA DATA DATA DATA DATA DATA DATA*/
.data {
    display: flex;
    justify-content: space-around;
}
.data .contacts ul li .one{
    font-family: 'Montserrat';
    font-size: 31px;
    width: 350px;
}
.data .contacts ul li .two{
    font-family: 'Montserrat';
    font-size: 12px;
    color:  #848484;
    margin-top: 30px;
}
.data .contacts ul li .three{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 3px;
    color: #323232;
    margin-top: 15px;
}
.data .contacts ul li .four{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #848484;
    margin-top: 40px;
}
.data .contacts ul li .five{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
    margin-top: 15px;
}
.data .contacts ul li .six{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.data .contacts ul li .seven{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #848484;
    margin-top: 40px;
    margin-left: -20px;
}
.data .contacts ul li .eight{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
    margin-top: 15px;
}
.data .contacts {
    margin-top: 100px;
}
/*QUESTIONS QUESTIONS QUESTIONS QUESTIONS*/
.data .questions{
    width: 500px;
    height: 460px;
    background: #F8F8F8;
    margin-top: 45px;
}
.data .questions .forma{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.data .questions h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #323232;
    margin-top: 40px;
}
.data .questions .forma .one{
    width: 370px;
    height: 50px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2F2F2F;
}
.data .questions .forma .two{
    width: 370px;
    height: 50px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
}
.data .questions .forma .three{
    width: 370px;
    height: 50px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
}
.data .questions .forma .four{
    width: 370px;
    height: 50px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 15px;
    font-family:'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
}
.data .questions .forma .button{
    width: 370px;
    height: 60px;
    background: #DD4053;
    border-radius: 2px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}    
/*FON FON FON FON FON FON FON FON FON FON FON FON */
.fon{
    margin-top: 60px;
    height: 400px;
    background-size: cover;
    background-image: url(../images/ee154eb603\ 1.svg);
}
/*TEAM TEAM TEAM TEAM TEAM TEAM*/
.team{
    margin-left: 115px;
    margin-right: 115px;
}
.team .header{
    border-bottom:1px solid #D0D0D0;
    margin-top: 90px;
    padding-bottom: 30px;
}
.team .header ul{
    display: flex;
    justify-content: space-between;
}
.team .header ul .one{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #232323;
}
.team .header ul .two{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    margin-left: 206px;
    margin-top: 15px;
}
.team .header ul .three{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #969696;
    margin-top: 15px;
}
.team .header ul .four{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #969696;
    margin-top: 15px;
}
.team .header ul .five{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #969696;
    margin-top: 15px;
    margin-right: -15px;
}
.team .teamo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .teamo .one .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .one{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-around;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}
.team .teamo .one .text{
    margin-left:50px ;
}
.team .teamo .one .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .one .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 74px;
}
.team .teamo .one .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .two .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .two{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}

.team .teamo .two .text{
    margin-left:50px ;
}
.team .teamo .two .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .two .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .two .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .three .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .three{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}

.team .teamo .three .text{
    margin-left:50px ;
}
.team .teamo .three .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .three .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .three .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .four .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .four{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}
.team .teamo .four .text{
    margin-left:50px ;
}
.team .teamo .four .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .four .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .four .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .five .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .five{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}
.team .teamo .five .text{
    margin-left:50px ;
}
.team .teamo .five .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .five .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .five .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .five .text{
    margin-left:50px ;
}
.team .teamo .five .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .five .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .five .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .six .img img{
    height: 150px;
    width: 150px;
}
.team .teamo .six{
    margin-top: 40px;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 69px;
    border-bottom: 1px solid #D0D0D0;
}

.team .teamo .six .text{
    margin-left:50px ;
}
.team .teamo .six .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .six .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .six .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
.team .teamo .six .text{
    margin-left:50px ;
}
.team .teamo .six .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 2px;
    font-size: 20px;
    color: #323232;
}
.team .teamo .six .text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team .teamo .six .text a{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
}
/*INFO INFO INFO INFO INFO INFO INFO */
.fontwo{
    height: 260px;
    padding-top: 60px;
    background: #F8F8F8;
}
.fontwo .info{
    margin-left: 115px;
    margin-right: 115px;
}
.fontwo .info .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #1D1D1D33;
    padding-bottom: 40px;
}
.fontwo .info .otherone ul li a{
    text-decoration: none;
    color:#3E3E3E;
    line-height: 20px;
    font-size: 15px;
}
.fontwo .info .othertwo ul li a{
    text-decoration: none;
    color:#3E3E3E;
    line-height: 20px;
    font-size: 15px;
}
.fontwo .info .worktime ul li h4{
    color:#3E3E3E;
    line-height: 15.63px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 12px;
}
.fontwo .info .worktime ul li h3{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3E3E3E;
    font-size: 15px;
}
.fontwo .info .number{
    width: 200px;
    height: 86px;
}
.fontwo .info .number .three{
    margin-top: 20px;
}
/*INFO INFO INFO INFO INFO INFO */
.fontwo .info .two {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}
.fontwo .info .two .icon{
    width: 100px;
}
.fontwo .info .two .icon i{
    margin-right: 10px;
    color: black;
    height: 20px;
    width: 20px;
}