*{
    margin: 0;
    padding: 0;
}
.container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
}
.header{
    width: 75%;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
    margin: 70px;
}
.Home{
    color: #070707;
}
.gray{
    color: #828282;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap:5px;
}
.big{
    width: 150px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.one{
    font-size: 40px;
}
.what{
    grid-column: 5/6;
    grid-row: 1/2;
}
.picture{
    grid-column: 2/6;
    grid-row: 2/3;
}