@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px,auto) ;
}
.head{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #D0D0D0;
}
.image{
    width: 210px;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 131px;
    height: 72px;
}
.uaru{
    width: 46px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    text-align: center;
    padding: 5px;
}
.RU{
    background: #4AD295;
    border-radius: 2px;
    color: #FFFFFF;
    width: 35px;
    height: 20px;
}
.ua{
    width: 35px;
    height: 20px;
}
    /* identical to box height */
h3{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding: 0px 20px;
}
.usd{
    width: 75px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    display: flex;
    align-items: center;
    padding:5px;
}
.head .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 40px;
    border-left:1px solid #E2E2E2;
    padding:5px;
}
li{
    list-style-type: none;
    font-family: 'Questrial', sans-serif;
}
.number ul li{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}
.number{
    border-left:1px solid #E2E2E2;
    display: flex;
    justify-content: space-between;
    width:150px ;
    height: 40px;
    padding:5px;
}
.phone img{
    width: 39px;
    height: 39px;
}
.Maistra{
    width: 240px;
    height: 40px;
    background: #EFF3F6;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    border-left:1px solid #E2E2E2;    
}
.maistra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Maistra .icon{
    width: 40px;
    height: 40px;
    background: #DD4053;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ТУРЫ{
    width: 240px;
    height: 40px;
    background: #EFF3F6;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
.туры{
    display: flex;
    justify-content: center;
    align-items: center;
}
.acon{
    width: 40px;
    height: 40px;
    background: #4AD295;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*nav and display*/
.nav{
    padding-top: 25px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.nav ul li>ul{
    display: none;
}
.nav ul li:hover>ul{
    display: block;
    position: absolute;
}

/*p к классу six*/

/*color for nav*/
.nav .two{
    color: #616161;
}
.nav .three{
    color: #616161;
}
.nav .four a{
    color: #616161;
    text-decoration: none;
}
.nav .five{
    color: #616161;
}
.nav .six{
    color: #616161;
}
.nav .seven a{
    color: #616161;
    text-decoration: none;
}
.nav .eight a{
    color: #616161;
    text-decoration: none;
}
.nav .nine a{
    color: #616161;
    text-decoration: none;
}
/*h2 h2 h2 h2 h2 and p p p p p */
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #777777;
}
/*trevel trevel trevel trevel trevel*/
.trevel{

}

/*fon fon fon fon fon*/
.fon{
    height: 490px;
    background-size: cover;
    background-image: url(../images/104276fb11cd5d5a5a2b9ed233bde285\ 1.svg);
}
.blackfon{
    height: 260px;
    width: 730px;
    margin-left: 105px;
    margin-top: 104px;
}
/* text + fon = textafon */
.fon .one{
    width: 249px;
    height: 45px;
    border: 1px solid #FFFFFF;
}
.fon .one .euro{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 7px;
}
.fon .two .mastila{
    width: 725px;
    height: 102px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 45px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: -25px;
    margin-top: 20px;
}
.fon .blackfon .three{
    width: 270px;
    height: 60px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fon .blackfon .three .details{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height:20px;
    color: #FFFFFF;
  
 
    text-decoration: none;
}
/*TREVEL TREVEL TREVEL TREVEL TREVEL*/
.trevel{
    display: flex;
    justify-content: space-around;
}
.terevel .text{
    
}
.trevel .text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    width: 540px;
    margin-top: 30px;
}
.trevel .text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #777777;
    margin-top: 15px;
    margin-bottom: 20px;
}
.trevel .help{
    display: flex;
    justify-content: space-around;
}
.trevel .help .text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 370px;
    line-height: 50px;
    color: #3D3D3D;
}
/*button*/
.buttonone{
    width: 270px;
    height: 50px;
    background: #bdbdbd;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tyr .buttonone a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.buttontwo{
    width: 220px;
    height: 50px;
    border: 1px solid #969696;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tyr .buttontwo a{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    color: #969696;
}
.tyr{
    display: flex;
    justify-content: space-around;
}
.trevel .text .tyr a{
    text-decoration: none;
}
/*ICON ICON ICON ICON ICON*/
.trevel .help {
    height: 200px;
    width: 370px;
    margin-top: 37px;
}
.trevel .help .icon{
    height: 200px;
    width: 50px;
    margin-right: 15px;
}
.trevel .help .icon .one{
    border-radius: 25px;
    border:1.2px dashed #969696;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trevel .help .icon .one img{
    height: 20px;
    width: 20px;
}
.trevel .help .icon .two{
    border-radius: 25px;
    border:1.2px dashed #969696;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.trevel .help .icon .two img{
    height: 20px;
    width: 20px;
}
.trevel .help .icon .three{
    border-radius: 25px;
    border:1.2px dashed #969696;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.trevel .help .icon .three img{
    height: 20px;
    width: 20px;
}
/*TEXT TEXT TEXT TEXT TEXT TEXT*/
.trevel .help .text .text .two{
    margin-top: 17px;
}
.trevel .help .text .text .three{
    margin-top: 17px;
}
/*FOOTER FOOTER FOOTER FOOTER FOOTER */
.fontwo{
    height: 370px;
    background-size: cover;
    background-image: url(../images/SloveniaHeader\ 3.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*INFO INFO INFO INFO INFO INFO INFO */
.fontwo .info{
    width: 1236px;
}
.fontwo .info .one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #1D1D1D33;
    padding-bottom: 15px;
}
.fontwo .info .otherone ul li a{
    text-decoration: none;
    color:#3E3E3E;
    line-height: 20px;
    font-size: 15px;
}
.fontwo .info .othertwo ul li a{
    text-decoration: none;
    color:#3E3E3E;
    line-height: 20px;
    font-size: 15px;
}
.fontwo .info .worktime ul li h4{
    color:#3E3E3E;
    line-height: 15.63px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 12px;
}
.fontwo .info .worktime ul li h3{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3E3E3E;
    font-size: 15px;
}
.fontwo .info .number{
    width: 200px;
    height: 86px;
}
.fontwo .info .number .three{
    margin-top: 20px;
}
/*INFO INFO INFO INFO INFO INFO */
.fontwo .info .two {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.fontwo .info .two .icon{
    width: 100px;
}
.fontwo .info .two .icon i{
    margin-right: 10px;
    color: black;
}